// Elegant gradient background for login page
.page-container {
  height: 100vh;
  background:  linear-gradient(135deg, var(--bg-gradient-start) 0%, var(--bg-gradient-end) 100%);
}
h2 {
    color: var(--heading-color);
    margin-bottom: 2rem;
  }

.login-container {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  background: rgba(255,255,255,0.1);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 5px 4px 24px rgba(153, 177, 249, 0.1);
  width: 320px;
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  color: var(--heading-color);
  font-weight: 600;
}

input.form-control {
  width: 100%;
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
  margin-top: 0.5rem;
}

.btn-primary {
  background: linear-gradient(90deg, #f7971e 0%, #ffd200 100%);
  color: #333;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-primary:hover {
  background: linear-gradient(90deg, #ffd200 0%, #f7971e 100%);
}

.error {
  color: #ffd200;
  margin-top: 1rem;
  font-weight: bold;
}

#username {
  color: rgb(105, 105, 105);
}